@layout Root
@inherits LayoutComponentBase


<div class="row-layout no-params-container">
    <h5 class="h5">
        No params
    </h5>
    <div class="view-container">
        @Body
    </div>
</div>

@code {
}
