.row-layout {
    display: flex;
}
.numeric-path-no-value-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.h5 {
    margin: 2px;
    height: max-content;
    min-width: min-content;
}
.view-container {
    overflow: auto;
    position: relative;
    min-width: 0;
    min-height: 0;
    flex-grow: 1;
}
