@layout Numeric_path_no_value
@page "/root/numeric-path-no-value/{pathNoValue2:double}/no-params-4"
@page "/root/numeric-path-no-value/{pathNoValue2:double}"

@inject NavigationManager NavigationManager
@implements IDisposable

<div class="row-layout no-params-4-container">
    <h5 class="h5">
        No params 4
    </h5>
</div>

@code {

    [CascadingParameter]
    private RouteData RouteData { get; set; }
    private bool _isComponentActive = false;
    [Parameter]
    public double PathNoValue2 { get; set; }

    protected override void OnParametersSet()
    {
        RouteData.RouteValues.TryGetValue("PathNoValue2", out var pathNoValue2);
        PathNoValue2 = Convert.ToDouble(pathNoValue2);
    }

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            _isComponentActive = true;
            NavigationManager.LocationChanged += OnLocationChanged;
            EnsureDefaultRoute();
        }
        await base.OnAfterRenderAsync(isFirstRender);
    }

    public void Dispose()
    {
        _isComponentActive = false;
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    protected void OnLocationChanged(object sender, object e)
    {
        if (_isComponentActive)
        {
            EnsureDefaultRoute();
        }
    }

    protected void EnsureDefaultRoute()
    {
        var defaultPath = $"/root/numeric-path-no-value/{PathNoValue2}/no-params-4";
        var currentRoute = "/" + NavigationManager.ToBaseRelativePath(NavigationManager.Uri).Split('?')[0];
        if (!string.Equals(defaultPath, currentRoute, StringComparison.OrdinalIgnoreCase))
        {
            NavigationManager.NavigateTo(defaultPath, replace: true);
        }
    }
}
