.row-layout {
    display: flex;
}
.numeric-query-4-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 2rem;
    padding: 2rem;
    height: 100%;
}
.h5 {
    height: max-content;
    min-width: min-content;
}
