@layout MainLayout
@page "/other-root-to-have-it"


<div class="row-layout other-root-to-have-it-container">
    <p class="typography__body-1 text">
        Other root to have it
    </p>
</div>

@code {
}
