.row-layout {
    display: flex;
}
.other-root-to-have-it-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 3rem;
    padding: 3rem;
    height: 100%;
}
.text {
    height: max-content;
    min-width: min-content;
}
